body {
	background: url("../img/bg.png");

}

h1 {
	font-family: 'Gafata', sans-serif;
	font-size: 50px;

}

img {
	border: 7px solid #29879e;
	border-radius: 200px;
	margin: 20px 0px 0px 40px;
}




ul {
	list-style: none;
	line-height: 20px;
	position: left;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: none;
	color: #29879e; 
}

a:active {
	text-decoration: underline;
	color: #29879e;
}




.nav, .topbox {
	background: #f3f3f3;
}

.nav {
 height: 55px;
 font-family: 'Gafata', sans-serif;
 font-size: 25px;
 padding-top: 20px;
 text-align: center;
 min-width:350px;
 border-radius: 20px;

}

.info {
	position: relative;
	top: -260px;
	left: 300px;
	overflow: hidden;

}


.topbox {
	font-family: georgia, sans-serif;
	margin-top: 20px;
	min-width: 360px;
}
.firstparagraph {
	max-width: 650px;
	min-width: 350px;
	line-height: 1.4em;
}

.secondparagraph {
	position: relative;
	top: -240px;
	margin-left: 40px;
	width: 350px;
}
